{% extends 'temp/main.html' %} {% block content %}

<div id="nav">
  <nav class="navbar" style="background-color: #e3f2fd" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand">Blogs</a>

      <form class="d-flex" role="search" method="GET" action="/blogs/">
        <input
          class="form-control me-2"
          name="search"
          type="text"
          placeholder="Search post"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <a href="/logot/"
        ><button
          class="btn btn-danger"
          type="submit"
          style="font-weight: 150px"
        >
          Logout
        </button></a
      >
    </div>
  </nav>
</div>
<div class="container mt-4">
  <div class="row g-4">
    {%for blog in blogs%}
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="blog-card">
          <div class="card shadow-sm p-3">
            <p id="p1">{{blog.post_title}}</p>
            <img src="/media/{{blog.image}}" />
            <div class="card-body">
              <pre> <p class="card-text">{{blog.description}}</p></pre>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/blogs/" method="get">
                    <a
                      type="button"
                      href="/delete/{{blog.id}}/"
                      class="btn btn-sm btn-outline-secondary"
                      >Delete</a
                    >
                    <a
                      type="button"
                      href="/edit/{{blog.id}}/"
                      class="btn btn-sm btn-outline-secondary"
                      >Edit</a
                    >
                  </form>
                </div>
                <div class="like-section">
                  <a href="/like/{{blog.id}}/" class="like-btn">
                    {% if request.user in blog.likes.all %}
                    <i class="bi bi-heart-fill"></i>
                    {% else %}
                    <i class="bi bi-heart"></i>
                    {% endif %}
                    <span> {{blog.likes.count}} </span>
                  </a>
                  <a href="/comment/{{blog.id}}/" class="comment-btn"
                    ><i class="bi bi-chat"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if blogs.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; first</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ blogs.previous_page_number }}"
        >previous</a
      >
    </li>
    {% endif %}

    <span class="current">
      Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
    </span>

    {% if blogs.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ blogs.next_page_number }}">next</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ blogs.paginator.num_pages }}"
        >last &raquo;</a
      >
    </li>
    {% endif %}
  </ul>
</nav>

<div class="tab">
  <a href="/blogs/" id="home"> <i class="bi bi-house-door-fill"></i> </a
  ><a href="/create/" id="add">
    <i class="bi bi-patch-plus-fill"></i>
  </a>
  <a href="/comment/{{blog.id}}/" id="search">
    <i class="bi bi-messenger"></i>
  </a>
</div>

{% endblock %}
