{% extends 'temp/main.html' %} {% block content %}
<div class="form-container">
  <form
    class="mx-auto p-3 card col-6 shadow-lg m-5"
    method="post"
    enctype="multipart/form-data"
  >
    {%csrf_token%}
    <div class="form-box">
    <h2>Update Your Blog</h2>
    <br />
    <div class="p-0 mb-3 form-check">
      <label for="formFile" class="form-label">Change Picture</label>
      <input
        class="form-control"
        value="{{blogs.image}}"
        name="image"
        type="file"
        id="formFile"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        value="{{blogs.post_title}}"
        name="post_title"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Content</label>
      <textarea class="form-control" name="description" id="">
{{blogs.description}}</textarea
      >
    </div>

<button type="update" class="btn btn-sm btn-outline-secondary">Update</button>
  </form>

  </div>
</div>

{% endblock %}
